@font-face {
	font-family: FactorA;
	font-display: swap;
	src: url('@/assets/fonts/FactorA-Regular-Web.woff2');
	font-weight: 400;
}

@font-face {
	font-family: FactorA;
	font-display: swap;
	src: url('@/assets/fonts/FactorA-Medium-Web.woff2');
	font-weight: 500;
}
