.base-video {
	position: relative;
	cursor: pointer;
	width: var(--video-width, 100%);
	height: var(--video-height, 0);
	min-height: var(--video-min-height, auto);
	padding-top: var(--video-aspect-ratio);
	overflow: hidden;

	&.with-shadow {
		&::after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(var(--color-fourth-rgb), 0.5);
		}
	}
}

.pic {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	&:not([data-lazy='loaded']) {
		@include loading;
		position: absolute;
	}

	picture,
	img {
		display: block;
		width: 100%;
		height: 100%;
	}

	img {
		object-fit: cover;
		object-position: top;
	}
}

.play-icon {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 1;
	transform: translate(-50%, -50%);
	transition: transform 0.3s ease-in-out;

	@include hover {
		.base-video:hover & {
			transform: translate(-50%, -50%) scale(1.2);
		}
	}
}
