.base-case-card-big {
	position: relative;
	display: flex; // strech child to full height
	width: 100%; // see parent flex
}

.bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	&:not([data-lazy='loaded']) {
		// hide alt image before image loaded
		img {
			opacity: 0;
		}
	}

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba($color: #181818, $alpha: 0.5);
	}

	&::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
		opacity: 0;
		width: 100%;
		height: 100%;
		background-color: rgba($color: #181818, $alpha: 0.4);
		transition: opacity 0.2s ease-in-out;
	}

	@include hover {
		.base-case-card-big:hover & {
			&::after {
				opacity: 1;
			}
		}
	}

	img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.content {
	position: relative;
	z-index: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	min-height: 780px;
	padding: 180px 60px 60px;

	@include hover {
		.base-case-card-big:hover & {
			z-index: auto;
		}
	}
}

.client-logo {
	margin-bottom: 60px;

	&:not([data-lazy='loaded']) {
		// hide alt image before image loaded
		img {
			opacity: 0;
		}
	}

	img {
		display: block;
		max-width: 100%;
		height: 126px;
		object-fit: contain;
	}

	@include hover {
		.base-case-card-big:hover & {
			position: relative;
			z-index: 1;
		}
	}
}

.title {
	color: var(--color-fifth);
	font-size: 62px;
	font-weight: 500;
	line-height: 70px;
	letter-spacing: -0.02em;
	text-align: center;
	margin-bottom: 33px;

	&::after {
		content: '';
		position: relative;
		top: -3px;
		display: inline-block;
		width: 42px;
		height: 22px;
		margin-left: 16px;
		background: get-svg-icon('line-arrow-right-wide', 'color-fifth')
			no-repeat;
		background-size: contain;
	}
}

.text {
	color: var(--color-fifth);
	font-size: 24px;
	line-height: 1.4;
	text-align: center;
	letter-spacing: -0.01em;
	margin-bottom: 216px;
}

.footer {
	margin-top: auto;
	display: flex;
	justify-content: center;
	position: relative;
	width: 100%;
	padding-left: 60px;
	padding-right: 60px;

	&.has-review {
		padding-left: 60px + 300px + 20px; // 300px is review width
		padding-right: 60px + 300px + 20px; // 300px is review width
	}
}

.review {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 300px;
	line-height: 1;

	&-link {
		display: inline-block;
		position: relative;
		z-index: 2;
		color: rgba(var(--color-fifth-rgb), 0.6);
		max-width: 100%;
		overflow: hidden;
		font-size: 20px;
		font-weight: 500;
		line-height: 20px;
		letter-spacing: -0.02em;
		white-space: nowrap;
		text-overflow: ellipsis;
		text-decoration: none;
		border-bottom: 2px dashed;

		@include hover {
			.base-case-card-big:hover & {
				opacity: 0.4;
				transition: opacity 0.2s ease-in-out;

				&:hover {
					opacity: 1;
					color: var(--color-fifth);
				}
			}
		}
	}
}

.categories {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.category {
	text-align: center;

	& + & {
		&::before {
			content: '/';
			position: relative;
			top: 1px;
			color: rgba(var(--color-fifth-rgb), 0.3);
			margin: 0 12px;
		}
	}

	&-link {
		position: relative;
		z-index: 2;
		color: rgba(var(--color-fifth-rgb), 0.6);
		font-size: 18px;
		font-weight: 500;
		line-height: 20px;
		letter-spacing: -0.02em;
		text-decoration: none;

		@include hover {
			.base-case-card-big:hover & {
				opacity: 0.4;
				transition: opacity 0.2s ease-in-out;

				&:hover {
					opacity: 1;
					color: var(--color-fifth);
				}
			}
		}
	}
}

.full-link {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
}

@include md {
	.content {
		padding: 178px 48px 60px;
		justify-content: flex-start;
	}

	.name {
		font-size: 48px;
		line-height: 70px;
	}

	.text {
		margin-bottom: 210px;
	}

	.footer {
		padding-left: 48px;
		padding-right: 48px;

		&.has-review {
			padding-left: 48px + 200px + 20px; // 200px is review width
			padding-right: 48px + 200px + 20px; // 200px is review width
		}
	}

	.review {
		max-width: 200px;
	}
}

@include sm {
	.content {
		min-height: auto;
		padding: 50px 25px 42px;
	}

	.client-logo {
		margin-bottom: 40px;
	}

	.title {
		font-size: 32px;
		line-height: 38px;
		margin-bottom: 28px;

		&::after {
			top: -1px;
			width: 34px;
			height: 18px;
		}
	}

	.text {
		font-size: 18px;
		margin-bottom: 58px;
	}

	.footer {
		flex-wrap: wrap;

		&,
		&.has-review {
			padding: 0;
		}
	}

	.review {
		position: static;
		width: 100%;
		text-align: center;
		margin-bottom: 25px;
	}
}

// 	@include smMax {
// 		height: auto;
// 		padding: 50px 25px 42px;

// 		.image {
// 			position: absolute;
// 			left: 0;
// 			top: 0;
// 			z-index: -1;
// 		}

// 		.desc {
// 			padding: 0;
// 			display: block;
// 			position: relative;
// 			left: 0;
// 			top: 0;

// 			.logo {
// 				margin-bottom: 41px;

// 				img {
// 					display: block;
// 					margin: 0 auto;
// 					max-height: 100px;
// 				}
// 			}

// 			.name {
// 				font-size: 32px;
// 				line-height: 38px;
// 				margin-bottom: 28px;

// 				svg {
// 					display: block;
// 					margin: 10px auto 0;
// 				}
// 			}

// 			.info {
// 				font-size: 18px;
// 				line-height: 22px;
// 				margin-bottom: 58px;
// 			}
// 		}

// 		.footer {
// 			position: relative;
// 			left: auto;
// 			top: auto;
// 			bottom: auto;
// 			right: auto;
// 			flex-direction: column;
// 			align-items: center;

// 			.review {
// 				margin-bottom: 25px;
// 				a {
// 				}
// 			}

// 			.breadcrumbs {
// 				margin-bottom: 25px;
// 				position: relative;
// 				top: auto;
// 				left: auto;
// 				bottom: auto;
// 				transform: translate(0);
// 			}
// 		}
// 	}

// .case-legendary {

// }
