.slider {
	:deep() {
		.swiper-slide {
			width: auto;

			&:not(:last-child) {
				margin-right: 24px;
			}
		}
	}
}

.alphabet {
	flex-shrink: 0;
	cursor: pointer;
	color: #121212;
	font-size: 29px;
	line-height: 138%;
	letter-spacing: -0.02em;
	text-transform: uppercase;
	border-bottom: 2px dashed rgba(45, 45, 45, 0.2);

	&.active,
	&:hover {
		color: #e9330b;
		border-color: transparent;
	}
}

.scrollbar {
	margin-top: 20px;
}

@include md-max {
	.sort-alphabets {
		padding: 0 var(--horizontal-indent);
		margin: 0 calc(var(--horizontal-indent) * -1);
		overflow: hidden;
	}

	.slider {
		:deep() {
			.swiper {
				overflow: visible;
			}
		}
	}
}

@include sm {
	.slider {
		:deep() {
			.swiper-slide {
				&:not(:last-child) {
					margin-right: 16px;
				}
			}
		}
	}

	.alphabet {
		font-size: 16px;
		line-height: 2;
	}

	.scrollbar {
		display: none;
	}
}
